// Accordion icon rotate
@mixin rotate-triangle($degrees, $duration: 0.3s) {
  transform: rotate($degrees);
  transform-origin: center;
  transition: transform $duration ease-in-out;
}

// Todo: to refactor media queries in home page
// Resposive breakpoints
@mixin responsive($desktop: true, $tablet: true, $mobile: true) {
  // Desktop
  @if $desktop {
    @media (min-width: 100rem) {
      @content;
    }
  }

  // Mobile
  @if $mobile {
    @media (min-width: 30rem) {
      @content;
    }
  }
}